@use  'helpers' as *;

body { 
    @include fluid-text(18,14);  /* Задаем на комп и ноуты 1920 18 размер шрифта а на мобилки с 390 14 */

    font-family: var(--font-family-base);
    letter-spacing: -0.03em;
    background-color: var(--color-abs-white);
    color: var(--color-abs-black);
}