@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-SemiBold.woff2") format("woff2"), url("../fonts/Exo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Bold.woff2") format("woff2"), url("../fonts/Exo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Принимая число деления и возвращает результат деления числа на 16 */
/* Медиа-миксины */
/* Ряд флекс свойств для центрирования содержимого элемента, зависит от аргумента   */
/* Центрирование через абсолют  */
/* Рисует квадрат одинаковой высоты */
/* Прячем элемент */
:root {
  /* COLORS */
  --color-abs-black: #000000;
  --color-abs-white: #FFFFFF;
  --color-primary: #FF782D;
  --color-hover: #FFAB2D;
  --color-pressed: #F8620E;
  --color-neutral-dark-gray: #555555;
  --color-neutral-gray: #9D9D9D;
  --color-neutral-light-gray: #EAEAEA;
  --color-white-grey: #F5F5F5;
  --color-status-blue: #2580D5;
  --color-status-green: #55BE24;
  --color-status-warning: #F6B40A;
  --color-status-danger: #F51A1A;
  --border: 0.0625rem solid var(--color-neutral-dark-gray);
  /* TYPOGRAPHY */
  --font-family-base: "Jost", sans-serif;
  --font-family-secondary: "Exo", sans-serif;
  --container-width: 100rem ; /* Обязательно обертывать в фигурные скобки так как scss не умеет обрабатывать сам без указания именно в этом случае */
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-with: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  /* Задаем на комп и ноуты 1920 18 размер шрифта а на мобилки с 390 14 */
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  background-color: var(--color-abs-white);
  color: var(--color-abs-black);
}

.btn {
  display: inline-block;
  justify-content: center;
  padding: 1.125rem 1.5rem;
  font-size: 1.75rem;
  font-weight: 500;
  white-space: nowrap;
  border: var(--border);
  border-radius: 0.75rem;
  transition: all var(--transition-duration) ease-in-out;
}
@media (width <= 90.06125rem) {
  .btn {
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}
@media (any-hover: hover) {
  .btn:hover {
    color: var(--color-abs-white);
    background-color: var(--color-dark-10);
    font-size: 1.125rem;
  }
}
@media (any-hover: none) {
  .btn:active {
    color: var(--color-abs-white);
    background-color: var(--color-dark-10);
    font-size: 1.125rem;
  }
}

.input-wrapper {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1.25rem;
  border: var(--border);
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-abs-white);
  transition: all 0.3s ease-in-out;
  /* По умолчанию скрываем input */
  /* Активное состояние, когда поле должно быть видно */
}
@media (any-hover: hover) {
  .input-wrapper:hover {
    border: var(--border);
    color: var(--color-abs-white);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 1.25rem;
  }
}
@media (any-hover: none) {
  .input-wrapper:active {
    border: var(--border);
    color: var(--color-abs-white);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 1.25rem;
  }
}
.input-wrapper .search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  transition: all 0.3s ease-in-out;
  width: 0;
  opacity: 0;
  padding: 0;
  align-items: center;
}
.input-wrapper.active .search-input {
  width: 150px;
  opacity: 1;
  padding: 0.5rem;
}

.logo {
  flex-shrink: 0;
  max-width: clamp(7.875rem, 7.0784313725rem + 3.2679738562vw, 11rem);
}

.header__body {
  text-align: center;
  padding-block: 0.9375rem;
  border-bottom: var(--border);
}
@media (width <= 47.99875rem) {
  .header__body {
    padding-block: 0.625rem;
  }
}
.header__body-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15rem;
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.1875rem;
    padding: 0.0625rem;
    background-color: var(--color-dark-10);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  list-style: none;
  text-decoration: none;
}
.header__menu-item {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 0.075rem;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .header__menu-item:hover {
    color: var(--color-primary);
    transition-duration: var(--transition-duration);
  }
}
@media (any-hover: none) {
  .header__menu-item:active {
    color: var(--color-primary);
    transition-duration: var(--transition-duration);
  }
}
.header__menu-link {
  text-decoration: none;
  list-style: none;
}
.header__menu-link:visited {
  color: inherit;
}
@media (width <= 90.06125rem) {
  .header__menu {
    column-gap: 0.375rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    flex-direction: column;
    row-gap: 0.0625rem;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.header .btn-auth {
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem 0.4375rem;
  white-space: nowrap;
  background-color: var(--color-abs-white);
  font-size: 1.125rem;
  font-weight: 500;
  border: var(--border);
  border-radius: 0.75rem;
}
@media (width <= 90.06125rem) {
  .header .btn-auth {
    padding: 0.375rem 0.3125rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}
@media (any-hover: hover) {
  .header .btn-auth:hover {
    border: var(--border);
    background-color: var(--color-primary);
    border-radius: 0.75rem;
  }
}
@media (any-hover: none) {
  .header .btn-auth:active {
    border: var(--border);
    background-color: var(--color-primary);
    border-radius: 0.75rem;
  }
}

/*# sourceMappingURL=main.css.map */
